/* Created by: Alyssiafung
* Created on: feb 2023
* This file contains the CSS for index.html
*/

/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  background: #00000068;
  opacity: 0.004;
}

.mdl-layout__header-row {
  justify-content: center;
  padding: 2;
}

.mdl-layout__content {
  padding-left: 16pt;
  padding-right: 16pt;
  padding-top: 16pt;
}

.mdl-textfield__error {
  color: rgba(144 238 144 0.682);
}

.page-content {
  color: rgba(255 255 255 0.866);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}

body {
  background-color: rgb(55, 86, 143);
}