/* Created by: Alyssiafung
* Created on: feb 2023
* This file contains the CSS for index.html
*/

.mdl-layout__content {
  padding-left: 16pt;
  padding-right: 16pt;
  padding-top: 16pt;
}

/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  background: #00000068;
  opacity: 0.004;
}

body {
  background-color: rgb(55 86 143);
}

p {
  color: rgba(255 255 255 86.6%);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  padding-top: 6pt;
}
